.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card {
  padding: 20px;
  margin: 10px auto; /* Center the card horizontally */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  width: 100%; /* Optional: set a max width for responsiveness */
  max-width: 900px;
}

h1 {
  text-align: center;
  color: #333;  
}